<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head', {title: '홈'}) %>

    <!-- index.ejs에서만 적용하고픈 home.css -->
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <%- include('./includes/header') %>
    <h1>Hello! Express!!</h1>
    <p>안녕하세요~ <%= userId %>님! 환영합니다</p>
    <p><%= userId %>님의 비밀번호는 <%= userPw %>이시죠?ㅎㅎ</p>
    <% for (let i = 0; i < 5; i++) { %>
    <div>하이하이!!!!!!!!</div>
    <% } %>
    <h2><%= userId %></h2>

    <% for (let btn of btns) { %>
    <button type="button" class="btn btn-primary"><%= btn %></button>
    <% } %>
    <a href="/sesac">새싹</a>

    <br />
    <span><%= me.name %></span>
    <span><%= me.msg %></span>

    <br />
    <% if (!isLogin) { %>
    <h4>아직 로그인을 하지 않으셨군요!</h4>
    <% } else { %>
    <h4>로그인을 하셨군요!</h4>
    <%} %>
  </body>
</html>
